.cardOne {
    background-image: url('https://www.hubspot.com/hubfs/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg');
    width: 100%;
    height: 700px;
    background-color: #fff3ee;
    border-bottom: 3px solid #506e91;
}

.cardOne > h1{
    padding-top: 100px;
    margin-left: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: #475769;
}

.cardOne > p {
    margin-left: 120px;
    margin-top: 10px;
    opacity: 0.7;
}

.card_button {
    border: none;
    background-color: #ff7a59;
    padding: 26px;
    font-size: 18px;
    color: white;
    margin-left: 120px;
    border-radius: 3px;
}

